# =============== #
# Unity generated #
# =============== #
[Bb]uild/*
[Ll]ibrary/*
[Oo]bj/*
[Tt]emp/*
[Uu]nity[Gg]enerated]/*
sysinfo.txt
/*.stackdump
*.ppk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/*
.vs/*
/*.booproj
/*.csproj
/*.pidb
/*.pidb.meta
/*.sln*
/*.suo
/*.svd
/*.unityproj
/*.user
/*.userprefs

# ============ #
# OS generated #
# ============ #
[Tt]humbs.db

# =============== #
# Users generated #
# =============== #
# ...

syntax: glob